<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cartel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,46}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,7},{192,46}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>cartel_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,46}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,7},{192,46}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>cartel_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{186,40}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,9},{186,40}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>cartel_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{186,40}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,9},{186,40}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>cartel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,46}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,7},{192,46}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>cartel_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,46}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,7},{192,46}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>cartel_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{186,40}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,9},{186,40}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>cartel_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,46}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,7},{192,46}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>cartel_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,46}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,7},{192,46}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>cartel_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{186,40}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,9},{186,40}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>cartel_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,46}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,7},{192,46}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
            <key>cartel_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{186,40}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,9},{186,40}}</string>
                <key>sourceSize</key>
                <string>{250,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>futureB.pvr</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a0233d6ec68e3613ab6e2ec6a891ca3:1/1$</string>
            <key>textureFileName</key>
            <string>futureB.pvr</string>
        </dict>
    </dict>
</plist>
