<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cartel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,111}}</string>
                <key>sourceSize</key>
                <string>{500,111}</string>
            </dict>
            <key>cartel_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,111}}</string>
                <key>sourceSize</key>
                <string>{500,111}</string>
            </dict>
            <key>cartel_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{492,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{492,103}}</string>
                <key>sourceSize</key>
                <string>{500,111}</string>
            </dict>
            <key>cartel_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{492,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{492,103}}</string>
                <key>sourceSize</key>
                <string>{500,111}</string>
            </dict>
            <key>cartel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,111}}</string>
                <key>sourceSize</key>
                <string>{500,111}</string>
            </dict>
            <key>cartel_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,111}}</string>
                <key>sourceSize</key>
                <string>{500,111}</string>
            </dict>
            <key>cartel_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{492,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{492,103}}</string>
                <key>sourceSize</key>
                <string>{500,111}</string>
            </dict>
            <key>cartel_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,111}}</string>
                <key>sourceSize</key>
                <string>{500,111}</string>
            </dict>
            <key>cartel_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,111}}</string>
                <key>sourceSize</key>
                <string>{500,111}</string>
            </dict>
            <key>cartel_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{492,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{492,103}}</string>
                <key>sourceSize</key>
                <string>{500,111}</string>
            </dict>
            <key>cartel_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,111}}</string>
                <key>sourceSize</key>
                <string>{500,111}</string>
            </dict>
            <key>cartel_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{492,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{492,103}}</string>
                <key>sourceSize</key>
                <string>{500,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>futureB.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f55773af2ed6b35e3219618b74164e2d:1/1$</string>
            <key>textureFileName</key>
            <string>futureB.png</string>
        </dict>
    </dict>
</plist>
